{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'insc.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lobster&family=Poppins:wght@200&family=Rowdies:wght@700&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="dex2">
        <div class="form" id="vjk">
            {%  if messages %}
            <div class="erro">
                {% for message in messages %}
                <p> {{message}} </p>
                {% endfor %}
            {% endif %}
            <a href="/">
                <strong><p style="color:  rgba(117, 204, 124, 0.555);"><span style="font-size: 3rem;color: rgb(40, 90, 16);">B</span>lay Dream</p></strong>
            </a>
            <p>Connectez - vous</p>

            <form action="{% url 'connexion' %}" method="post" class="item-form">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter votre nom d'utilisateur" id="" style="margin-bottom: 30px;">
                <input type="text" name="password" placeholder="Mot de passe" id="" style="margin-bottom: 50px;">
                <button type="submit" style="padding: 10px 20px;background-color: #07a35a;border: none;border: 10px;color: white;">Se connecter</button>
            </form>
            <p class="olink">pas encore inscrit! <a href="{% url 'inscription' %}">S'inscrire</a></p>
        </div>
    </div>
</body>
</html>